<nav class="mt-5">
  <ul class="pagination justify-content-start">
    <!-- Geri -->
    <li class="page-item <%= currentPage === 0 ? 'disabled' : '' %>">
      <a href="?page=<%= currentPage - 1 %>" class="page-link">Geri</a>
    </li>

    <!-- Sayfa numaraları -->
    <% for (let index = 0; index < totalPages; index++) { %>
    <li class="page-item <%= currentPage === index ? 'active' : '' %>">
      <a href="?page=<%= index %>" class="page-link"><%= index + 1 %></a>
    </li>
    <% } %>

    <!-- İleri -->
    <li
      class="page-item <%= currentPage + 1 === totalPages ? 'disabled' : '' %>"
    >
      <a href="?page=<%= currentPage + 1 %>" class="page-link">İleri</a>
    </li>
  </ul>
</nav>
